.blur{
    filter: blur(70px);
}
.blur1{
    background-color: rgb(60, 65, 70);
    border: 5px solid orange;
     filter: blur(70px); 
    
    overflow-x: hidden;
}
.text-blur1{
   text-align: center;
    position: relative;
    top: 140px;
  z-index: 2;
  
}
.button1{
  position: relative;
  bottom: 7px;
left: -8px;

}
p{
  font-family: Arial,Helvetica,sans-serif;
}