.container-1{
  background-image: linear-gradient(180deg,red , orange,purple);
    min-width: 100px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:12px;
    margin-left: -12px;
}
.footer .down-fotter{
background-color: blueviolet;
}
.photo-moving{
    background-color: rgb(184 22 22);
    width: 900px;
    height: 302px;


margin: 0%;

overflow: hidden;
}
.photo-group{
    display: flex;
    flex-direction: row;
  
    width: 3800px;
    margin-left: -2697px;
  animation-duration: 7s;
  animation-iteration-count: infinite;
    transform: 1s;
animation-name: photobig;


}
img{
    width: 900px;
    height: 300px;
  
    transition: 1s;
}