.blur{
    filter: blur(70px);
}
.blur1{
    background-color: rgb(60, 65, 70);
    border: 5px solid orange;
     filter: blur(70px); 
    
    overflow-x: hidden;
}
.text-blur1{
   text-align: center;
    position: relative;
    top: 140px;
  z-index: 2;
  
}
.button1{
  position: relative;
  bottom: 7px;
left: -8px;

}
p{
  font-family: Arial,Helvetica,sans-serif;
}
::-webkit-scrollbar-thumb{
  border-radius: 20px;
  background: linear-gradient(rgb(0, 140, 255) ,rgb(113, 255, 196));
}
::-webkit-scrollbar{
  color:red;
}
@media (min-width:900px) {
  .hover:hover  .img-thumnail3 {
    transform: scale(1.5);
    }
  
}